body {
width: 960px;
margin: 0 auto;}
#content {
overflow: auto;
height: 100%;}
#nav{
padding: 10px;
margin: 10px;   
}
#parametry{
height: 240px;}

.center{
    margin:auto;
    width: 42%;
    border: 1px solid;
}

#footer {
background-color: #efefef;
padding: 10px;
margin: 10px;}
.column1, .column2, .column3 {
background-color: #ffffb3;
border: 1px solid;
width: 400px;
float: left;
margin: 5px;
height: 240px;
text-align: center;}
li {
display: inline;
padding: 5px;}
a {
color: #000000;
text-transform: uppercase;
text-decoration: none;
padding: 6px 18px 5px 18px;}
ol {
height: 1em;
font-size: 18px;
width: 400px;
margin: 0px auto 0px auto;
border-top: 2px solid #000;
border-bottom: 2px solid #000;
text-align: center;
padding: 10px;
}

p{
    font-size: 19px;
    
}


/* tabela test */
table {
width: 400px;}
th, td {
padding: 7px 10px 10px 10px;}
th {
text-transform: uppercase;
letter-spacing: 0.1em;
font-size: 90%;
border-bottom: 2px solid #111111;
border-top: 1px solid #999;
text-align: left;}
tr.even {
background-color: #efefef;}
tr:hover {
background-color: #c3e6e5;}


.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


